{% extends "layout.htm" %}
{% block title%} About us {% endblock title%}

{% block body %}

    <video class="video-intro" width="100%" height="600" autoplay="" loop="" muted="">
        <source src="static/img/20180506_122742 copy.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>


<section class="card card-lg text-center" id="about-about">

    <div class="card-header text-xs text-justify w-auto">
        <h2 class="text-xxl m-b text-center my-3 mdb-color-text h2">About us</h2>
        <p class="m-b-md dark-grey-text">I think everyone has come across that dreaming of ideal holidays during their ordinary routine. Sometimes unpredicted weather conditions might interfere with your plan, and perhaps you have experienced that not able to visit somewhere due to a tight budget. Moreover, if you have ever experienced spending hours of packing luggage when you are not even sure what will the weather be like on the day, our purpose is to help you to manage all of this. </p>
        <p class="m-b-md dark-grey-text">
        We want every holidaymaker to be happy. With our extensive knowledge of combining flight prices and weather information, this website will guide you through arranging your idea into life. If you like to ski, find out where is the best place has a snowy environment. If you are 'beach-lier type of person' then search somewhere enriched with the sunlight. If you are not sure whether you want to go, check out our article links from home.
        </p>
        </div>

</section>

{% endblock body %}

