{% extends "layout.htm" %}
{% block title%} About us {% endblock title%}

{% block body %}

<video class="video-intro" width="100%" height="600" autoplay="" loop="" muted="">
    <source src="static/img/20180506_122742 copy.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>


<section class="card card-lg text-center" id="about-about">

    <h1 style="margin: 20px;">
    Our Mission 
    </h1>
    <p></p>

    <h2 class="text-xxl m-b text-center mr-2">About</h2>
    <div class="text-xs text-justify mx-auto px-2" style="max-width: 65rem;">
        <p class="m-b-xs">I think everyone has come across that dreaming of going on ideal holidays during their ordinary routine. Sometimes unpredicted weather conditions interfere with our plan and perhaps you have experienced that not able to making wishful holiday due to a tight budget. Moreover, if you have ever experienced spending hours of packing luggage when you even are not sure what will the weather be like on the day, our purpose is to help you.<br>

        We would like every holidaymaker to be happy. With our extensive knowledge of combining flight prices and weather information, this website will guide you to arrange your idea into life. If you like to ski, find out where is the best place has a snowy environment. If you are 'beach-lier type of person' then search somewhere enriched with the sunlight. If you are not sure whether you want to go, check out our article links from the home. <br>
        
    </div>
</section>

{% endblock body %}

