{% extends "layout.htm" %}
{% block title%} Calendar {% endblock title%}

{% block body %}

{% macro calendar(dt) %}

    <h1 class="text-center text-bold">
        <small><a href="/?year={{year - 1}}" class="text-muted">{{dt | year - 1}}</a></small>
        {{dt | year}}
        <small><a href="/?year={{year + 1}}" class="text-muted">{{dt | year + 1}}</a></small>
    </h1>

    <div class="row">

        <div class="col">
        <div class="container-fluid white-skin text-center">
            <section class="container white pb-3 my-3">
                <h1>{{dt | month}} </h1>

            <table class="table table-bordered table-white">

                <thead class="mdb-color lighten-1 white-text">
                    {%- for days in ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri ', 'Sat'] %}
                        <td><div>{{ days }}</div></td>
                        {% endfor -%}
                </thead>

                <tbody class="grey lighten-5">
                    {% for row in range(dt | sdt, dt | edt) | batch(7, '&nbsp;') %}
                    <tr>
                        {% for col in row %}
                            <td>
                                {% if ((col|int) <= 0) %}
                                    &nbsp;
                                {%else%}
                                    {{col | safe}}
                                {%endif%}
                            </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>

                
            </table>
        </section>
        </div>
    </div>
    </div>
{% endmacro %}

<main class="mt-5 pt-5">
    <div>
    
            {% set dt = "%s-%s-01" % (2020, 7) %}

                {{calendar(dt)}}
            </div>
        </div>

        
{% endblock body %}


{% block jsfunction %}
        
    
{% endblock jsfunction %}
    
