{% extends "layout.htm" %}
{% block title%} Calendar {% endblock title%}

{% block body %}

    <script>
    
        $(function() {
            
            $('#calendar').fullCalendar({
                defaultView: 'month',
            
                header: {
                center: 'addEventButton'
                },
            
                customButtons: {
                addEventButton: {
                    text: 'add event...',
                    click: function() {
                    var dateStr = prompt('Enter a date in YYYY-MM-DD format');
                    var date = moment(dateStr);
            
                    if (date.isValid()) {
                        $('#calendar').fullCalendar('renderEvent', {
                        title: 'dynamic event',
                        start: date,
                        allDay: true
                        });
                        alert('Great. Now, update your database...');
                    } else {
                        alert('Invalid date.');
                    }
                    }
                }
                }
            });
            
            });
              
            
    
    </script>

    <style>
    
        body {
        margin: 40px 10px;
        padding: 0;
        font-size: 14px;
        }
    
        #calendar {
        max-width: 900px;
        margin: 0 auto;
        }
    
    </style>
    </head>

    <div class="container mt-5 mb-3 py-5 center white">
        <div id="calendar">
            <button type="button" class="fc-addEventButton-button fc-button fc-state-default fc-corner-left fc-corner-right">add event...</button>

        </div>
    </div>
           
{% endblock body %}

