{% extends "layout.htm" %}
{% block title %} My Menu {% endblock title %}

{% block body %}

<main class="mt-5 mx-5 pt-5 px-5">
    <div class="row">
        <div class="col-md-8 mb-4"> 

        <div class="card text-center wow fadeIn">

            <div class="card-header">My calendar</div>
            {% for c in countries %}
            <!--Card content-->
            <div class="card-body">
        
                    <script type="text/x-handlebars-template">

                            {{c.countrycd}}
                        </script>
                        
                    </div>
                </div>
    
                
            </div><!-- First Grid -->

        <div class="col-md-4 mb-4">
            <div class="card mb-4 text-center wow fadeIn">

                <div class="card-header">NULL</div>

                <!--Card content-->
                <div class="card-body">

                    <!-- Default form login -->
                    <form>

                        <!-- Default input email -->
                        <label for="defaultFormEmailEx" class="grey-text">Your email</label>
                        <input type="email" id="defaultFormLoginEmailEx" class="form-control">

                        <br>

                        <!-- Default input password -->
                        <label for="defaultFormNameEx" class="grey-text">Your name</label>
                        <input type="text" id="defaultFormNameEx" class="form-control">

                        <div class="text-center mt-4">
                            <button class="btn btn-info btn-md" type="submit">Sign up</button>
                        </div>
                    </form>
                    <!-- Default form login -->

                </div>

                </div>

                <div class="card mb-4 text-center wow fadeIn">

                    <div class="card-header">NULL</div>
    
                    <!--Card content-->
                    <div class="card-body">
    
                        <!-- Default form login -->
                        <form>
    
                            <!-- Default input email -->
                            <label for="defaultFormEmailEx" class="grey-text">Your email</label>
                            <input type="email" id="defaultFormLoginEmailEx" class="form-control">
    
                            <br>
    
                            <!-- Default input password -->
                            <label for="defaultFormNameEx" class="grey-text">Your name</label>
                            <input type="text" id="defaultFormNameEx" class="form-control">
    
                            <div class="text-center mt-4">
                                <button class="btn btn-info btn-md" type="submit">Sign up</button>
                            </div>
                        </form>
                        <!-- Default form login -->
    
                    </div>
    
                    </div>
                {% endfor %}
        </div><!-- Second Grid -->

    </div>
</main>
{% endblock body %}