{% extends "layout.htm" %}
{% block title %} My Menu {% endblock title %}


{% macro calendar(dt) %}

    <div class="row">
        <div class="col">

            <div class="container-fluid white-skin text-center table-responsive">
            <section class="container white">

                <div class="h2 text-bold text-right">

                    <small><a href="/mymenu?selected_year={{dt | yearbf}}&selected_month={{month}}" class="text-muted"> <i class="fas fa-chevron-left"></i>
                    </a></small>
            
                    {{dt | year}}
            
                    <small><a href="/mymenu?selected_year={{dt | yearaf}}&selected_month={{month}}" class="text-muted"> <i class="fas fa-chevron-right"></i>
                    </a></small>

                </div>

                <div class="h2 text-bold my-3">
    
                    <small><a href="/mymenu?selected_year={{dt | year}}&selected_month={{dt | monthbf}}" class="text-muted"> <i class="fas fa-chevron-circle-left"></i> </a></small>
            
                    {{dt | namedmonth}}
            
                    <small><a href="/mymenu?selected_year={{dt | year}}&selected_month={{dt | monthaf}}" class="text-muted">  <i class="fas fa-chevron-circle-right"></i> </a></small>

                </div>


            <table class="table table-bordered table-white">

                <thead class="mdb-color lighten-1 white-text">
                    {%- for days in ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri ', 'Sat'] %}
                        <td>
                            <div class="text-bold h6">{{ days }}</div>
                        </td>
                    {% endfor -%}
                </thead>

                <tbody class="white">
                    {% for row in range(dt | sdt, dt | edt) | batch(7, '&nbsp;') %}
                    <tr>

                        {% for col in row %}
                            <td class="text-left h5" id="{{col}}" onclick="startDate(this.id)">
                                {% if ((col|int) <= 0) %}
                                    &nbsp;
                                {%else%}
                                    {{col | safe}} 
                                    
                                    <p id="weatherdata" style="font-size: 17px; color: grey;"></p>

                                {%endif%}
                            </td>
                        {% endfor %}

                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </section>
        </div>
        </div>
    </div>
{% endmacro %}


{% block body %}
    
    {% if p %}
    
    <form action="/mymenu" method="POST" class="text-center p-3 mdb-color lighten-4">

        <div class="row">

            <div class="col-md-12 mb-4"> 
    
                <div class="card text-center wow fadeIn">
                
                <div class="card-header h4 mdb-color-text grey lighten-4">My calendar</div>
        
                <!--Card content-->
                <div class="card-body white">
                    <div class="row">
                    <!--Grid column-->
                    <div class="col-md-6 mb-4">
                    
                        <span id="startdate"></span>
        
                    </div>
                    <!--Grid column-->
                
                    <!--Grid column-->
                    <div class="col-md-6 mb-4">
                        <span id="enddate"></span>
                    </div>
                    <!--Grid column-->
                    </div>
    
                    <div class = "container-fluid mdb-color-text">
                        
                        {% if selected_year and selected_month %}
                        {% set dt = "%s-%s-01" % (selected_year, selected_month) %}
    
                            {{calendar(dt)}}
    
                        {% else %}
    
                        {% set dt = "%s-%s-01" % (year, month) %}
                        
                            {{calendar(dt)}}
    
                        {% endif %}
    
                        <div class="text-right mt-3">
                            <button class="btn btn-md mdb-color lighten-2 waves-effect" type="submit">Save</button>
                        </div>
    
                    </div>    
                
                </div>
            </div>
            </div>

        
            <div class="col-md-4 mb-4">
                
            <div class="container border mdb-color darken-3 white-text my-2">
                <h1 class="my-4" style="font-size: 40px;"> {{username}}</h1>
            </div>
            
            <div class="card wow fadeIn mt-5">

                <div class="card-header h4 mdb-color lighten-1 white-text mb-2">Your Availability</div>
                
                <div class="card-body my-2">

                    <h1 id="period" class="h2 mdb-color-text">Holiday Period</h1>

                </div>

                <div class="card-header h4 mdb-color lighten-1 white-text mb-2">Your Favorite City</div>
                    
                <div class="card-body my-2">

                    <h1 id="cityname" class="h2 mdb-color-text">{{cityname}}</h1>

                </div>

                <div class="card-header h4 mdb-color lighten-1 white-text my-2"> Your Favorite Season</div>

                <!--Card content-->
                <div class="card-body my-2">

                    <h1 class="h2 mdb-color-text">{{temperature}}</h1>

                </div>

                <div class="card-header h4 mdb-color lighten-1 white-text my-2">Your budget</div>

                <!--Card content-->
                <div class="card-body my-2">

                    <h1 class="h2 mdb-color-text"> {{minbud}} to {{maxbud}} </h1>
        
                </div>

            </div>
        <!-- Second Grid -->

        <div class="text-right mt-4">
            <button class="btn btn-md mdb-color lighten-5 waves-effect mdb-color-text" type="submit">Edit</button>
        </div>

        </div>

    </div>
        
    </div>
    </form>

    {% else %}

        <form action="/mymenu" method="POST" class="text-center p-3 mdb-color lighten-4">

            <div class="card wow fadeIn">

                <div class="card-header h4 mdb-color-text my-2">Favorite City</div>
                    
                <div class="card-body my-2">

                <select class="browser-default custom-select my-2"  id="country">
    
                    <option>Select Country</option>

                </select>

                <select class="browser-default custom-select my-2" name="city" id="city">

                    <option>Select City</option>
                    
                </select>

            </div>

                <div class="card-header h4 mdb-color-text my-2">Favorite Season</div>

                <!--Card content-->
                <div class="card-body my-2">

                    <select id="season" class="browser-default custom-select my-2">
                        <option>Select Season</option>
                    </select>

                    <select id="temperature" name="temperature" class="browser-default custom-select my-2">
                        <option>Select Temperature</option>
                    </select>

                </div>

                <div class="card-header h4 mdb-color-text my-2">Set Your budget</div>

                <!--Card content-->
                <div class="card-body my-2">

                    <select id="mininum" name="mininum" class="browser-default custom-select my-2" value="{{value}}" onchange="getMaximum(this.value)">

                        <option>Select minimum</option>
                    </select>

                    <select id="maximum" name="maximum" class="browser-default custom-select my-2">
                        <option>Select maximum</option>
                    </select>

                    <div class="text-right my-2">
                        <button class="btn btn-md mdb-color lighten-2 waves-effect" type="submit">Save</button>
                    </div>

                </div>

            </div>
            <!-- Second Grid -->
        </form>

        {% endif %}

        </div>
            </div>

{% endblock body %}


{% block jsfunction %}
    <script type="text/javascript">

        let cityname = $('#cityname').text();
        
        $.getJSON( "static/json/weathercode.json", function( data ) {
           
            $.each( data, function( key, val ) {

                if (val == cityname) {
                    //console.log(key, val);
                    //$('#weatherdata').append(<p>val);
                };
            });
          });

        //url, method, data, dataType, fn
        //send_ajax('/mymenu', 'POST', {start_date: start_value}, '');



        const dayarr = []
        $("td").each(function(){
            let dayValue = $(this).text().trim();

            if (dayValue.length < 3 & dayValue.length > 0){
                numday = parseInt(dayValue);
                dayarr.push(numday);
            }
        });

        let isSelecteds = false; 

        function startDate(value){

            let sid = '#' + value;
          
            if (isSelecteds == false){

                isSelecteds = true;
                $(sid).addClass('grey lighten-3');
                $('#startdate').html("{{year}}-{{month}}-" + value);

                for (da in dayarr){
                    if (value <= dayarr[da]){
                        
                        let id2 = '#' + dayarr[da];
                        $(id2).addClass('white').attr('onclick','');

                        
                    } else {
                        let id3 = '#' + dayarr[da];

                        $(id3).addClass('grey darken-2 white-text').attr('onclick','');

                    }
                };

            } else {

                isSelecteds = false;
                $(sid).removeClass('grey lighten-3');
                $('#startdate').html('');

                for (da in dayarr){
                    if (value <= dayarr[da]){
                        
                        let id2 = '#' + dayarr[da];
                        $(id2).removeClass('white').attr('onclick','startDate(this.id)');

                        
                    } else {
                        let id3 = '#' + dayarr[da];
                        $(id3).removeClass('grey darken-2 white-text').attr('onclick','startDate(this.id)');

                    }
                };
            };


            let start_value = $('#startdate').text();

            console.log("--------------------", start_value);

            $('td.white').each(function(){

                let abled = $(this).text().trim();
                
                let id4 = '#' + abled;

                $(id4).attr('onclick','endDate(this.id)');

                $(sid).attr('onclick','startDate(this.id)');
                
                console.log(abled);

            });

        };

        let isSelectede = false;

        function endDate(value){

            let eid = '#' + value;
          
            if (isSelectede == false){

                isSelectede = true;
                $(eid).addClass('grey lighten-3');
                $('#enddate').html("{{year}}-{{month}}-" + value);

                for (da in dayarr){
                    if (value >= dayarr[da]){
                        
                        let id2 = '#' + dayarr[da];
                        $(id2).addClass('white').attr('onclick','');

                        
                    } else {
                        let id3 = '#' + dayarr[da];

                        $(id3).addClass('grey darken-2 white-text').attr('onclick','');

                    }
                };

            } else {

                isSelectede = false;
                $(eid).removeClass('grey lighten-3');
                $('#enddate').html('');

                for (da in dayarr){
                    if (value >= dayarr[da]){
                        
                        let id2 = '#' + dayarr[da];
                        $(id2).removeClass('white').attr('onclick','endDate(this.id)');
                        
                    } else {
                        let id3 = '#' + dayarr[da];
                        $(id3).removeClass('grey darken-2 white-text').attr('onclick','endDate(this.id)');

                    }
                };
            };
    

            $('td.grey.darken-2').each(function(){

                let disabled = $(this).text().trim();
                
                let id5 = '#' + disabled;

                $(id5).attr('onclick','');

                $(eid).attr('onclick','endDate(this.id)');
                
                console.log(abled);

            });


            let end_value = $('#enddate').text();

            console.log("--------------------", end_value);

        };

        const budget = [0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600]

        for (b in budget){
            $('#mininum').append($('<option />').val(budget[b]).html(budget[b]) )
        };

        function getMaximum(value){

            $('#maximum').html('');
            
            for (b in budget){

                if (budget[b] > value) {
                    $('#maximum').append($('<option />').val(budget[b]).html(budget[b]) )
                }
            };
        };


        const season = {'Spring': 'Spring', 
                    'Summer': 'Summer', 
                    'Autumn': 'Autumn', 
                    'Winter': 'Winter'};

        for (s in season){
            $('#season').append($('<option />').val(season[s]).html(season[s]))
            };

        const temperature = {
            'Spring': [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24], 
            'Summer': [25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40], 
            'Autumn': [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25], 
            'Winter': [-15, -14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4]
        };
                
        $('#season').change(function(){
            let $season = $('#season').val();
            console.log('season: ' + $season );
            getTemperature($season);
        });

        function getTemperature(season){
            $('#temperature').html('') //초기화

            let temp = temperature[season]; 

            for (t in temp){
                $('#temperature').append($('<option />').val(temp[t]).html(temp[t]));
            }    
        };

        $.getJSON( "static/json/getcity.json", function( data ) {
           
            $.each( data, function( key, val ) {
              $('#country').append($('<option />').val(key).html(key))
            });
          });

        $('#country').change(function(){
            let $key = $('#country').val();
            console.log('Countryname: ' + $key );
            getCity($key);
        });
            
        function getCity(keys){
            $('#city').html('') //초기화

            $.getJSON( "static/json/getcity.json", function( data ) {
           
                $.each( data, function( key, val ) {
                    if(key == keys){
                    for (c in val){
                        $('#city').append($('<option />').val(val[c][0]).html(val[c][0]));
                    }
                }});
              });
        };
            
    </script>

{% endblock jsfunction %}