{% extends "layout.htm" %}
{% block title %} My Menu {% endblock title %}

{% block body %}

<main class="mt-5 mx-5 pt-5 px-5">
    <div class="row">
        <div class="col-md-8 mb-4"> 

        <div class="card text-center wow fadeIn">

            <div class="card-header">My calendar</div>
    
            <!--Card content-->
            <div class="card-body">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-6 mb-4">
            
                <div class="md-form">
                    <!--The "from" Date Picker -->
                    <input placeholder="Selected starting date" type="text" id="startingDate" class="form-control datepicker">
                    <label for="startingDate">start</label>
                </div>
            
                </div>
                <!--Grid column-->
            
                <!--Grid column-->
                <div class="col-md-6 mb-4">
            
                <div class="md-form">
                    <!--The "to" Date Picker -->
                    <input placeholder="Selected ending date" type="text" id="endingDate" class="form-control datepicker">
                    <label for="endingDate">end</label>
                </div>
            
                </div>
                <!--Grid column-->
            
            </div>
        
            </div>
            </div>
    
                
            </div><!-- First Grid -->

        <div class="col-md-4 mb-4">
            <div class="card mb-4 text-center wow fadeIn">

                <div class="card-header">Set Your Favorite Season</div>

                <!--Card content-->
                <div class="card-body">
                    <select id="season" class="browser-default custom-select my-2">
                        <option selected>Select Season</option>
                    </select>

                    <select id="temperature" class="browser-default custom-select my-2">
                        <option selected>Select Temperature</option>
                        
                        <optgroup> 
                            <option id="" value="">25</option>
                        </optgroup> 

                    </select>

                </div>

                </div>

                <div class="card mb-4 text-center wow fadeIn">

                    <div class="card-header">Set Your Favorite City</div>
                            
                    <div class="card-body">

                    <select class="browser-default custom-select my-2" name="country" id="country">
     
                        <option>Select Country</option>
    
                    </select>

                    <select class="browser-default custom-select my-2" name="city" id="city">

                        <option>Select City</option>
                        
                    </select>

                    <div class="text-center mt-4">
                        <button class="btn btn-info btn-md" type="submit">Save</button>
                    </div>
    
                    </div>
    
                    </div>
        
                </div><!-- Second Grid -->

    </div>
</main>
{% endblock body %}

<!-- <script type="text/javascript" src="/static/safescript.js"></script> -->
{% block jsfunction %}
    <script type="text/javascript">  

        const season = {'Spring': 'Spring', 
                    'Summer': 'Summer', 
                    'Autumn': 'Autumn', 
                    'Winter': 'Winter'}

        for (s in season){
            $('#season').append($('<option />').val(season[s]).html(season[s]))
            };

        
        const countrycitys = {}

        for (cc in countrycity){
            $('#country').append($('<option />').val(cc).html(cc))
            };

        for (cc in countrycity){
            $('#city').append($('<option />').val(countrycity[cc][0][0]).html(countrycity[cc][0][0]))
            };
        
        $('#country').change(function(){
            getCity();
        })
            
        function getCity(){
            $('#city').html('') //초기화
            let country_select = document.getElementById("country");
            
            let country_name = country_select.options[country_select.selectedIndex].value;

            cts = countrycity[country_name]
    
            console.log('Countryname: ' + country_name);

            for (c in cts){
                $('#city').append($('<option />').val(cts[c][0]).html(cts[c][0]));
            }
        }
            
    </script>

{% endblock jsfunction %}