{% extends "layout.htm" %}
{% block title %} Registration page {% endblock title %}

{% block body %}
<div class="container mt-5 w-50">
    <div class="row mt-5">
        <div class="col align-self-center">
    <form action="/registration" method="POST" class="text-center border border-light p-5">
        
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}

        <form class="border border-light p-5">

                <p class="h4 mb-4 text-center">Sign up <img src="static/img/holidayicon.png" alt="holidayicon" width="32" height="32"></p>


            
                <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">
            
                <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
            
                <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">Minimal 8 characters length</small>

                <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="User name">
        
            
                <small id="defaultRegisterFormEmailHelpBlock" class="form-text text-muted mb-4">Optional - for authentication</small>
            
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
                    <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
                </div>
            
                <button class="btn btn-info my-4 btn-block" type="submit">Sign up</button>

                    </p>
                </div>
            </form>
            
    
    </form>
</div>
</div>
</div>
{% endblock body %}